/* GLOBAL */
body {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  background-color: black;
}
* {
  box-sizing: border-box;
}





/* THE HEADER */
.site-header {
  position: relative;
  background-color: #0a275d;
  width: 100%;
}
.site-header-btn {
  float:right;
}
.site-header-btn a {
  color: white;
  text-decoration: none;
  border: 1px solid white;
  padding: 4px 10px;
}
.site-header-btn a:hover {
  color: #f36600;
  background-color: #fdcb20;
  border: 1px solid white;
}

.top {
  display:inline;
}
.wrapper {
  padding-left: 180px;
  padding-right: 180px;
  padding-top: 10px;
  padding-bottom: 10px;
}

p.top {
  position:relative;
  top: -4px;
  left: 13px;
  font-size: 22px;
  font-style: italic;
}





/* THREE COLUMN LAYOUT */
.row {
  height:900px;
  background-image: linear-gradient(#6a8da7, #0a275d);
  float: left;
  width: 100%;
}
/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}
.left {
  background-color: transparent;
  width: 11%;
}
.middle {
  background-color: #636363;
  width: 50%;
  border: 1px solid white;
  height: 800px;
  padding-top: 100px;
}
.right {
  background-color: transparent;
  width: 39%;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}





/* NAV BUTTONS */
.btn {
  position: relative;
  top: 100px;
  left: 5px;
}
.button {
  border: none;
  color: white;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 22px;
  margin: 4px 2px;
  cursor: pointer;
  max-width: 100%;
  transition-duration: 0.4s;
  border-radius: 30%;
}
.button a:hover {
  background-image: linear-gradient(#0a275d, #6a8da7, #0a275d);
  color: #fff;
}





/* WEATHER BOXES */
.weather_grid {
  padding: 30px;
}
.weather_grid_toprow {
  display:inline-block;
  margin: 10px;
  border: 1px solid white;
  padding: 4px 6px 4px 4px;
}
.weather_grid_bottomrow {
  display:inline-block;
  margin: 10px;
  border: 1px solid white;
  padding: 4px 6px 4px 4px;
}






/* TIME */
.time {
  position:relative;
  top: 0px;
  left: 30px;
  font-size: 22px;
  color: #fdcb20;
  border: 1px solid white;
  padding: 6px;
  width: 120px;
  background-color: #333;
  margin-left: 10px;
  margin-right: auto;
  text-align: center;
}




/* DATE */
.date {
  position:relative;
  top: 0px;
  left: 30px;
  font-size: 22px;
  color: #fdcb20;
  border: 1px solid white;
  padding: 6px;
  width: 120px;
  background-color: #333;
  margin-left: 10px;
  margin-right: auto;
  text-align: center;
}





/* FOOTER */
.footer {
  width: 100%;
  text-align: center;
}
.footer a {
  color: white;
  text-decoration: none;
}
.footer a:hover {
  color: #f36600;
}
